<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="demo.js"></script>
</head>
<style>
    .products
    {
        width: 130px;
        height: auto;
        background-color: lightblue;

    }
    .cart
    {
        width: 130px;
        height: auto;
        background-color: lightcyan;

    }
</style>
<body ng-app="myApp">
<div ng-controller="mycontroller">
    <div class="products" ng-repeat="item in products">
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
        <input type="button" value="Add to cart"  ng-click="addToCart(item)">
    </div>
    <div class="cart">
        <h3>Cart</h3>
        <div ng-repeat="products in cart">
            <p>
                {{products.name}} -- <input type="number" ng-value="product.qty"></p>

        </div>
</div>


</div>
<div>
<h3>
    Total: {{totalprice}}
</h3>
</div>
</body>
</html>